@font-face {
    font-family: Eina\ 04;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(fonts/e5071c44.woff2)format("woff2");
}

@font-face {
    font-family: Eina\ 04;
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(fonts/8ce7fd97.woff2)format("woff2");
}

@font-face {
    font-family: Eina\ 04;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(fonts/72823357.woff2)format("woff2");
}

a {
    color: #db4f7e;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    background-color: #121229;
    color: #dedede;
    text-align: center;
    font-family: 'Eina\ 04', sans-serif;
}

body::before {
    content: "";
    background-image: url(noise.svg);
    background-size: tile;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.15;
}

h1 {
    font-size: 320%;
}

p {
    font-size: 130%;
}

.gradient {
    background: linear-gradient(180deg,#ffc891,rgb(192, 82, 9));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.links {
    margin-top: 30px;
}

.main {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

.text {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
}