@font-face {
  font-family: 'gst-r';
  font-display: swap;
  src: url(gst-r.woff2) format('woff2');
}

a {
  color: #FF6476;
  text-decoration: none;
}

a:hover {
    color: #ffbdc5;
}

body {
  color: #fff;
  background: linear-gradient(120deg, #290080 10%, #963434 100%);
  font-family: 'gst-r', sans-serif;
  font-size: 30px;
  text-align: center;
}

html {
  height: 100%;
}

.wrapper {
  margin: 0;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
}