@font-face {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/LexendDeca-Regular.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(/fonts/LexendDeca-SemiBold.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

.main {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -55%)
}

button {
    font-family: 'Lexend Deca', sans-serif;
    background-color: #8edbcd;
    border: 0 solid;
    height: 2rem;
    border-radius: 5px;
    width: 8rem;
    font-size: 1.2rem
}

* {
    user-select: none;
    font-family: 'Lexend Deca', sans-serif;
}

body {
    background-color: #202422;
    color: #e5e5e5;
    font-family: 'Lexend Deca', sans-serif;
    margin: 0;
    padding: 0
}

strong {
    color: #8edbcd
}

input {
    font-family: 'Lexend Deca', sans-serif;
    width: 35rem;
    font-size: 1rem;
    background-color: #3d4541;
    border: 0 solid;
    margin-bottom: 5px;
    border-radius: 5px;
    height: 2rem;
    color: #e5e5e5;
    padding-left: .5rem
}

hr {
    width: 15rem;
    align-items: left
}

span {
    color: #8edbcd;
    font-weight: 600
}

@media (max-width:700px) {
    .main {
        zoom: 0.6
    }
}